.section__features {
    display: flex;
    flex-wrap: wrap;
    gap:30px;

    @media screen and (min-width:$desktop){
        flex-wrap: nowrap;
    }
}
.section__item {
    width: 450px;

    @media screen and (min-width:$tablet){
        width: 354px;
    }
    @media screen and (min-width:$desktop){
        width: 270px;
    }
}
.section__item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 120px;
    background-color: $button-background-color;
    
    @media screen and (min-width:$tablet){
        width: 354px;
    }
    @media screen and (min-width:$desktop){
        width: 270px;
    }
}

.section__title {
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}

.section__text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}