.header {
    border-bottom: 1px solid #ececec;
}

.header__block {
    height: 60px;
    display: flex;
    align-items: center;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $hover-color;
}

.logo-prefix {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $primary-text-color;
}
.header__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &.icon-close {
    display: none;}

    &.is-open .icon-close {
    display: block;}

    &.is-open .mobile-icon {
    display: none;}
}